{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "java", "html" ,"shell", "python", "sql" ,"plsql", "go", "clike", "powershell", "properties", "ini", "regex", "json", "git"],
      "plugins": ["line-numbers"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
